$cWhite: white;
$cBlack: black;
$cGray: #333333;
$cBackground: #EEEEEE;
$cTextblack: #333333;

#container {
  text-align: center;
  //   display: flex;
  justify-content: center;
  position: relative;
  background-color: $cBackground;
  height: 100vh;

  & > div {
    flex-basis: 300px;
  }
}

.header {
  //   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: $cGray;
  color: $cWhite;
  display: flex;
  align-items: center;

  // z-index: 100;
}
.message{
  margin-top: 50px;
  font-size: 30px;
  color: $cTextblack;
}
.btn {
  position: relative;
  // position: absolute;
  display: inline-block;
  background-color: $cBlack;
  border: 1px solid $cTextblack;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  padding: 80px 100px;
  margin: 80px auto;
  cursor: pointer;
  transition: all 0.3s;
  color: $cWhite;
  text-decoration: none !important;

  &.area {
    font-size: 11px;
    padding: 20px 40px;
    margin: 20px auto;
  }

  &:hover {
    background-color: $cWhite;
    color: $cTextblack;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  }
}
